body {
    background-color: #e8efe8;
            margin: 0;
            padding: 40px;
            font-family:  sans-serif;
  }
  
  .flash {
    text-align: center;
 
  }
  input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px ;
    border-radius: 2px;
  }
  
  button {
    
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: rgb(126, 126, 126);
    cursor: pointer;
}

button:hover {
    background: #f5f5f5;
}
  
  #flash {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
  }
  
  .flashcard {
    width: 1450px;
    height: 180px;
    background-color: #fff;
    border: 1px ;
    
    padding: 50px;
    box-sizing: border-box;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  
  .flashcard .term {
    font-weight: bold;
    font-size: 30px;
  }
  
  .flashcard .definition {
   
    color: #373737;
    margin-top: 10px;
    font-size: 30px;
  }
  