* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #e8efe8;
            margin: 0;
            padding: 40px;
            font-family:  sans-serif;
}

.container {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.subject-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.subject {
  background-color: #89a989;;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.subject:hover {
  background-color: #ffffff;;
    color: #89a989;
}

.enter-button {
  width: 100%;
  background-color: #ffffff;
    border: 2px solid #89a98960;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.enter-button:hover {
  transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #a58e6d;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #8d7254;
}
